body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
}
.portada{ 
    width: 100%;
    margin-bottom: 10px;
}
.portada img{
    width: 100%;
    height: 500px;
}
.container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}
.container img{
    width: 150px;
}
#navbarSupportedContent {
    width: 656px;
    height: 60px;
    background-color: #000000;
    font-weight: 700; 
    color: white;
}
#navbarSupportedContent ul{
    list-style: none;
}
#navbarDropdown{
    color: white;
}
#nav li{
    margin-left: 20px;
    position: relative;
    display: inline-block;
}
#nav li a{
    display: block;
    padding: 20px 43px;
    color: white;
    text-decoration: none;
}
#nav li a:hover{
    color: rgb(5, 156, 55);
    transition: 0.2s all;
}
#submenu{
    text-align: center;
    position: absolute;
    background-color: #000000;
    width: 100%;
}
#submenu li a{
    padding: 15px;
    display: block;
    color: white;
    text-decoration: none;
}
.separador2{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.separador2 img{
    width: 290px;
}
.separador2 b{
    font-size: 30px;
}
.flecha{
    margin-top: 50px;
    width: 100%;
    margin: auto;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 80px;
}
.flecha a{
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}
.flecha span{
    text-decoration: none;
    font-size: 30px;
    color: #000000;
}
.flecha p{
    padding-right: 20px;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
}
.redireccion{
    width: 90%;
    text-align: center;
    margin: auto;
    padding-top: 60px;
}
#mano{
    width: 80%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    color: green;
    font-size: 60px;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 80px;
}
#mano label{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding-left: 40px;
    color: #000000;
    text-align: justify;
    border: solid;
    width:250px;
}
#manoin{
    width: 80%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    color: red;
    font-size: 60px;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 80px;
}
#manoin label{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding-left: 40px;
    color: #000000;
    text-align: justify;
    border: solid;
    width:250px;
}
footer{
    margin-top: 70px;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    display: flex;
}
.container-footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
}
.container-footer p{
    font-size: 18px;
    margin-top: 80px;
    color: #ffffff;
}
.column1{
    width: 400px;
    margin-top: 30px;
}
.column1 h1{
    border-bottom: 3px solid #ffffff;
    width: 140px;
    font-size: 22px;
    margin: auto;
}
.column2{
    width: 400px;
    margin-top: 30px;
}
.column2 h1{
    border-bottom: 3px solid #ffffff;
    width: 140px;
    font-size: 22px;
    margin: auto;
}
.column2 iframe{
    margin-top: 20px;
    width: 300px;
    height: 200px;
}
.column3{
    width: 400px;
    margin-top: 30px;
}
.column3 h1{
    border-bottom: 3px solid #ffffff;
    width: 200px;
    font-size: 22px;
    margin: auto;
}
.redes{
    margin-top: 80px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}
.redes a{
   padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
}